* {
    margin: 0;
    padding: 0;
    border: none;
    color: black;
    font-size: 12px;
    list-style: none;

}

body {
    background: #ededed;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

#header_top {
    width: 100%;
}

#header {

    height: 42px;
    background: #ededed;
    font-size: 12px;
    line-height: 42px;
    padding: 0 30px;

}

#header p {
    display: inline-block;
}

#header p a {
    color: red;
}

#p {
    float: left;
}

#header_list {
    float: right;
}

#p2 {
    width: 77px;
    line-height: 21px;
    padding-left: 21px;
    background: url(../img/shoppingcarbg.jpg);

    text-align: center;
    line-height: 20px;
}

#logo {
    height: 100px;
    padding: 0 60px 0 30px;
    background: white;

}

#logo_tu {
    padding: 13px 0;
    float: left;
}

#search {
    float: right;
    width: 665px;
    height: 70px;
    padding: 15px 0;
}

#search_txt {
    height: 70px;
    width: 510px;
    float: left;
}

#search_txt span {
    width: 50px;
    height: 20px;
    background: #d72426;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    display: block;
}

#search_txt p {
    margin-top: 5px;
    font-size: 9px;
}

#search_con {
    width: 510px;
    height: 30px;
    border: 2px solid #d72426;
}

#txt {
    height: 30px;
    width: 510px;
    background: url(../img/bg_bg.gif) no-repeat;
    background-position: 0 -36px;
    padding-left: 35px;
}

#search_suo {
    width: 148px;
    height: 30px;

    color: #ffffff;
    float: right;

}

#btn {
    width: 148px;
    height: 30px;
    background: #0c0b0a;
    color: white;
    bottom: 0;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 22px;
}

#nav {
    height: 40px;
    background: #c50608;
    text-align: center;
    line-height: 40px;
    padding: 0 30px;
    color: white;
}

#nav_feiLei {
    background: #950206;
    width: 135px;
    height: 40px;
    float: left;

}

#nav_feiLei a {
    font-size: 16px;
    color: white;
}

#nav_list {
    width: 807px;
    height: 40px;
    float: left;
}

#nav_list li {
    float: left;
    width: 98px;
    height: 40px;
    border-right: 1px solid #9f080d;

}

#nav_list li:hover {
    background: black;
}

#nav_list li a {
    font-size: 14px;
    color: white;
}

#nav_con {
    float: right;
    height: 20px;
    line-height: 20px;
    margin-right: 30px;

}

#nav_con dl {
    margin-top: 15px;
}

#nav_con dl dd {
    float: left;
    margin-right: 10px;
    position: relative;
    color: #fff;
}

#nav_con dl dd a {
    color: #fff;
    font-size: 13px;
}

.hot {
    position: absolute;
    float: left;
    margin-right: 5px;
    top: -10px;
    background: url(../img/hot.png) no-repeat;
    width: 22px;
    height: 22px;
}

.new {
    position: absolute;
    float: left;
    margin-right: 5px;
    top: -10px;
    background: url(../img/new.png) no-repeat;
    width: 22px;
    height: 22px;
}

.diy {
    position: absolute;
    float: left;
    margin-right: 5px;
    top: -10px;
    background: url(../img/diy.png) no-repeat;
    width: 22px;
    height: 22px;
}

.go {
    position: absolute;
    float: left;
    margin-right: 5px;
    top: -10px;
    background: url(../img/go.png) no-repeat;
    width: 22px;
    height: 22px;
}

#nav2 {
    position: relative;
    height: 45px;
}

#nav2_sd {
    width: 1204px;
    height: 45px;
    background: #950206;
    padding: 0 0 0 30px;
    margin-left: 30px;
}

.sideNav {
    width: 135px;
    position: absolute;
    top: 0px;
    left: 30px;
    height: 455px;
    display: none;
    z-index: 50;
    border: 3px solid #B10000;
    background: #fff;
}

.navList {
    width: 135px;
    position: relative;

}

.navList h3 {
    width: 139px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
    z-index: 3;
    cursor: pointer;

}

.navList h3 a {

    width: 110px;
    height: 35px;
    color: black;
    font-size: 14px;

    text-align: left;
}

.navList h3 a.change {
    color: #B10000;
    padding: 8px 12px
}

.navList h3.fuck {
    background: white;
    border: 3px solid #e3001d;
    z-index: 30;
    border-right: none;
    border-left: none;
}

.sideNav ul {

    position: absolute;
    left: 136px;
    top: -10px;
    width: 580px;
    background: #FFF;
    border: 3px solid #e3001d;
    height: 500px;
    display: none;;
}

#ul_left {
    width: 395px;
    float: left;
    margin-left: 10px;
}

#ul_left h4 {
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: block;
}

#ul_left dl {
    padding: 8px 0 5px;
    border-bottom: 1px dotted #ccc;
    line-height: 20px;

}

#ul_left dl dt a {
    color: red;
    font-size: 16px;
}

#ul_left dl dd {
    color: #a3a5a2;
    margin-top: 3px;
    line-height: 18px;
}

#ul_left dl dd a:hover {
    color: red;
}

#ul_right {
    width: 150px;
    float: right;
    padding: 0 5px 10px;
}

#ul_right h2 {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}

#ul_right dl {
    line-height: 22px;
    width: 150px;
    padding-bottom: 5px;

}

#ul_right dl dt {
    width: 75px;
    float: left;
    height: 22px;
    line-height: 22px;
}

#ul_right dl dt a:hover {
    color: red;
}

.cbox_clear {
    padding-top: 15px;
    padding-left: 30px;
    width: 1200px;
    height: 430px;
}

.leftbox {
    width: 210px;
    float: left;
    background: #fff;
    height: 430px;
}

.ad_1 {
    width: 210px;
    height: 109px;
    margin: 10px 0;
}

/*.ad_1 img{
    width: 210px;
    height: 109px;*/
/*}*/
.ad_2 {
    width: 210px;
    height: 304px;
}

.ad_2 h4 {
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    width: 210px;
    height: 32px;
    color: #fff;
    font-size: 14px;
    background: #B10000;
}

.ad_2 ul {

    border-width: 0 1px;
    line-height: 24px;
}

.ad_2 ul li {
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    padding: 8px 7px;
}

.red {
    float: left;
    color: #cc0048;
    font-weight: bold;
    padding-right: 5px;
}

.rightbox {
    width: 980px;
    float: right;
    height: 430px;
    background: white;
    position: relative;
}

#nav_r {
    width: 980px;
    height: 31px;
    line-height: 32px;
    background: #ab0c06;
    border-right: 1px solid #e5e5e5;
    color: white;
}

#nav_r b {
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 15px;
}

#nav_r a {
    color: #fff;
    padding: 0 5px;
}

#nav_msg {
    width: 282px;
    float: left;;
    text-align: center;
    height: 330px;
    position: inherit;
    margin-left: 10px;
}

#smallimg {
    width: 280px;
    height: 295px;
    background: url(../img/maxP20160313145249235.jpg) center;
    background-size: cover;
    position: relative;
    left: 20px;
    top: 10px;
}

#smallArea {
    width: 50px;
    height: 50px;
    background: rgba(36, 255, 253, 0.3);
    position: absolute;
    left: 20px;
    top: 30px;
    overflow: hidden;
}

#bigArea {
    width: 280px;
    height: 299px;
    position: absolute;
    left: 300px;
    top: 10px;
    display: none;
    border: 1px solid #000000;
    overflow: hidden;
}

#bigimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.xuanxiang {
    width: 610px;
    float: right;
    line-height: 25px;
    overflow: hidden;
    padding-right: 10px;
    border-left: 1px solid #e5e5e5;
    padding-left: 10px;
}

.xuanxiang li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.xuanxiang li h1 {
    font-size: 14px;
    border-bottom: 1px solid #ececec;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
    color: #000;
}

.xuanxiang li strong {
    font-size: 14px;
    color: #e22a25;
    font-style: normal;
    font-weight: normal;
}

.borli {
    padding: 7px;
    border: 1px solid #cdcdcd;
    background: #f8f8f8;
    line-height: 30px;
    margin-top: 3px;
    width: 395px;
}

.borli span {
    display: block;
    background: none;
}

.borli em {
    padding: 3px 8px;
    border: 1px solid #c8c9cd;
    background: #fff;
    margin-right: 10px;
    font-size: 12px;
    font-style: normal;
    cursor: pointer;
}

.borli em.selected {
    background: #d6026e;
    color: #fff;
    border: 1px solid #d6026e;
}

.borli input {
    vertical-align: middle;
    border-color: red;
}

.borli b {
    color: #989998;
    font-weight: normal;
}

#footerbg {
    width: 1200px;
    margin: auto;

    background: white;

}

#friendlik {
    margin: 10px;
    padding: 0 10px 0 10px;
    line-height: 40px;
    border: 1px solid #cccccc;
}

#friendlik a {
    padding-left: 13px;
}

#con {
    padding: 10px;
    width: 1180px;
    height: 193px;
    margin: auto;
}

#con_left {
    width: 240px;
    float: left;
    height: 193px;
    background: #f8f8f8;
}

#con_left ul {
    margin: 20px 0 0 40px;
}

#con_left ul li {
    padding-bottom: 5px;
    line-height: 22px;
    padding-left: 0;
    width: 164px;
    color: #999;
    font-size: 12px;
    padding-top: 8px;
}

#pong {
    font: bold 20px/35px arial helvetica sans-serif;
    color: #c40000;
    display: block;
}

#con_right {
    width: 920px;
    background: #f8f8f8;
    float: left;
    height: 178px;
    margin-left: 10px;
    padding-top: 15px;
}

#boottom_help {

}

#con_right ul {
    float: left;
    width: 100px;
    padding-top: 10px;
    padding-left: 45px;
}

#con_right ul li {
    line-height: 28px;
    width: 80px;
}

#con_right ul li img {
    float: left;
}

#con_right ul li.mar {
    margin-left: 10px;
}

#footer {
    height: 80px;
    background: white;
    line-height: 20px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;

}